.ordered-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 0px;
  min-height: 69vh;
  background-color: #ededed;
  // background: linear-gradient(180deg, rgba(216, 222, 226, 0) 67.91%, #000000 126.46%);
}

.item-card {
  display: flex;
  // background-color: rgb(99, 99, 167);
  border: 1px solid black;
  width: 250px;
  height: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px; 
  text-align: center;
  overflow: hidden;
  img {
    height: 80%;
  }
}